
/* Items styled as text */
.activity-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  text-align: center;
  margin-top: 50px;
}

.activity-button {
  font-family: 'Monoton', cursive; /* Same font as the question */
  font-size: 2rem; /* Slightly smaller than the question */
  color: white;
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in, color 0.5s ease-in;
}

.activity-button.blink {
  animation: blinkEffect 1s ease-in-out infinite;
}

/* Keyframes for text appearance */
@keyframes fadeInItems {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blinkEffect {
  0% {
    color: #e29be2;
    text-shadow: 0 0 10px #8399ce, 0 0 20px #ff77ff, 0 0 30px #ff77ff, 0 0 40px #ff77ff;
  }
  50% {
    color: white;
    text-shadow: none;
  }
  100% {
    color: #e29be2;
    text-shadow: 0 0 10px #8399ce, 0 0 20px #ff77ff, 0 0 30px #ff77ff, 0 0 40px #ff77ff;
  }
}